<!--[form:game]-->

<div id="setboard_panel" class="setboard-panel">
  <h3>The deck has <span id="remaining"><%= number_noun_desc( @game.deck.facedown.length, 'card' ) %></span> remaining. </h3>
  <h3><span id="num_sets"><%= number_noun_desc( @set_count, 'set' ) %></span> can be found below: </h3>
  <div id="setboard" class="setboard">
    <% indx = 0 %>
    <% @game.field.each_with_index do |row, row_i| %>
      <ul id="row<%= row_i %>" class="setboard-row">
      <% row.each_with_index do |c,col_i| %>
        <li id="c_card<%= indx.to_s %>" class="setboard-cell"><%= check_box_tag(('card' + indx.to_s), 'SELECTED', false) %><%= card_image c %></li>
        <% indx += 1 %>
      <% end %>
      </ul>
    <% end %>
  </div>
</div>
